button{
  height: 2rem;
  padding-inline: var(--font-size-3);
}

.new-valor{
  background-color: var(--color-brand-1);
  border: none;
  border-radius: var(--radius-1);
  color: var(--fixed-white);
}

.new-valor:hover{
  background-color: var(--color-brand-2);
  cursor: pointer;
}

.header-buttons button{
  border: 1px solid var(--color-grey-5);
  border-radius: var(--radius-2);
  font-size: var(--font-size-3);
  background-color: var(--fixed-white);
  font-weight: bold;
  color: var(--color-grey-2);
}

.header-buttons button:hover{
  background-color: var(--color-brand-3);
  color: var(--color-brand-1);
  border-color: var(--color-brand-2);
  cursor: pointer;
}

.header-buttons button:focus{
  background-color: var(--color-brand-3);
  color: var(--color-brand-1);
  border-color: var(--color-brand-2);
}

#close-modal-content{
  height: 30px;
  width: 35px;
  font-size: var(--font-size-1);
  border-radius: var(--radius-2);
  border: none;
  background-color: var(--color-grey-5);
  color: var(--color-grey-2);
}

#close-modal-content:hover{
  cursor: pointer;
  background-color: var(--color-grey-4);
}

li button{
  margin-left: 20px;
  color: var(--color-grey-2);
  background-color: var(--color-grey-4);
  border: none;
  border-radius: var(--radius-1);
}

#remove img{
  width: 60%;
  height: 100%;
}

#remove{
  opacity: 0.5;
  padding-inline: 6px;
  background-color: var(--fixed-white);
  border: 1px solid var(--color-grey-3);
}

#remove:hover{
  opacity: 1;
  cursor: grab;
}

.modal-content-footer button{
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-1);
  margin-left: 18px;
  border-radius: var(--radius-1);
  border: none;
  background-color: var(--color-grey-5);
  color: var(--color-grey-2);
}

.modal-content-footer button:hover{
  cursor: pointer;
  background-color: var(--color-grey-4);
}

#inserir-valor{
  color: var(--fixed-white);
  background-color: var(--color-brand-1);
}

#inserir-valor:hover{
  background-color: var(--color-brand-2);
  cursor: pointer;
}
